models/alpha_zero_checkpoints/*.pt filter=lfs diff=lfs merge=lfs -text
models/alpha_zero_checkpoints/latest_player.pt filter=lfs diff=lfs merge=lfs -text
models/alpha_zero_checkpoints/best_opponent.pt filter=lfs diff=lfs merge=lfs -text
